.App {
  text-align: center;
  
}

.header {
  height: 65px;
  border-bottom: 1px solid #000000; 
  background-color: #f5f5dc;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  padding-left: 200px;
  padding-right: 100px;
  
}

.header div{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 200px;
  align-items: center;
}
.theme-toggle-btn {
  width: 140px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: beige; 
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.theme-toggle-btn div {
  font-size: 15px;
}



.header h1 {
  font-size: 50px;
}
.header p {
  font-size: 20px;
  word-spacing: 5px;
}

.FirstCont {
  margin-left: 50px;
  margin-right: 50px;
  height: 500px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.LeftCont {
  margin-top: 53px;
  display: flex;
  flex-direction: column; 
  gap: 25px; 
  border-radius: 15px;
  height: 100px; 
  padding: 10px 12px;
  width: 15%; 
}

.LeftCont div{
  width: 110px;
}
.RightCont {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.FormCont {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  flex-direction: column;
  width: 100%;
}

.TopButtonCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.TopButtonContSpec {
  justify-content: right;
  width: 850px;
}

.TopButtonContLeft {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.TopButtonContRight {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.icon-button {
  display: flex;
  align-items: center; 
  padding: 10px 20px; 
  border: 2px solid beige; 
  border-radius: 10px; 
  background-color: black; 
  color: beige; 
  font-size: 16px; 
  cursor: pointer; 
  
}

.icon-button div {
  margin-left: 8px; 
}

.icon-icon-cont {
  display: flex;
  flex-direction: row;
  background-color: #007bff;
  
}
.icon-icon {
  display: flex;
  align-items: center;
  padding: 10px 20px; 
  background-color: #007bff;
  color: white; 
  cursor: pointer; 
}

.SecCont {
  margin-top: 10px;
  background-color: #1f1f1c; 
  height: 420px; 
  padding: 10px 12px;
  overflow-y: auto; 
  display: flex;
  flex-direction: column; 
  gap: 5px; 
  border-radius: 15px;
  outline: 4px solid beige;
  width: 850px;
}

.SecContSpec {
  gap: 10px;
}

.simpFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center; 
  width: 100%; 
}

.task-container {
  display: flex; 
  height: 75px; 
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: beige;
  max-width: 90%; 
  align-items: center; 
  padding: 0 10px; 
  flex-grow: 1; 
  color: black;
}

.left-section {
  flex: 0 0 85%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
}

.task-priority {
  font-size: 10px;
  background-color: #007bff;
  border-radius: 5px;
  padding: 2px;
  margin: 0;
  white-space: nowrap;
  width: 40px; 
  display: block;
  text-align: center;
  color: white;
}

.task-title {
  font-size: 20px;
  font-style: bold ;
  margin: 0;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;    
  text-overflow: ellipsis; 
  width: 450px; 
  display: block;
  text-align: left;
}

.task-details {
  font-size: 14px;
  margin: 0;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;    
  text-overflow: ellipsis; 
  width: 550px; 
  display: block;
  text-align: left;
}




.right-section {
  flex: 0 0 15%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 10px;
}

.task-time {
  margin: 0;
  font-size: 30px;
}

.task-created-at {
  margin: 0;
  font-size: 12px;
}

.complete-btn {
  background-color: beige;
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  margin-left: 10px; 
}

.complete-btn:hover {
  background-color: black;
  color: beige;
  border: 2px solid beige;
}

.line-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.horizontal-line {
  flex-grow: 1;
  border: none;
  border-top: 2px solid beige;
  margin: 0;
  
}

.line-text {
  margin-right: 10px; 
  font-size: 16px;   
  color: beige;       
}

.inputBox {
  display: flex; 
  height: 40px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: beige;
  max-width: 100%; 
  align-items: center; 
  padding: 0 10px; 
  flex-grow: 1; 
}

.textBox {
  display: flex;  
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: beige;
  max-width: 100%; 
  align-items: center; 
  padding: 10px 10px; 
  flex-grow: 1; 
}

.dateButton {
  margin-left: 100px ;
  display: flex; 
  height: 40px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: beige;
  max-width: 130px; 
  align-items: center; 
  padding: 0 10px; 
  flex-grow: 1;
  font-size: 16px;
}

.time-input-container {
  margin-left: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; 
  justify-content: center;
  color: beige;
}

.time-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.time-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 150px; 
  background-color: beige;
}

.time-input-wrapper label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  color: beige;
}

.button-container {
  display: flex; 
  justify-content: space-around; 
  gap: 10px; 
  
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: beige;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: beige;
}

.selected {
  background-color: black;
  color: beige;
}

.SecCont::-webkit-scrollbar {
  width: 10px; 
  padding-right: 2px;
}

.SecCont::-webkit-scrollbar-thumb {
  background-color: beige;
  border-radius: 25px;
}

.SecCont::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}